.counter{
    display: flex;
    background-color: white;
    border: 1px solid #6C63FF;
    border-radius: 5px;
    color: #6C63FF;
    font-family: Kanit;
    font-size: 21px;
    font-weight: 500;
    line-height: 18px;
    padding: 2px;
    margin-right: 5px;
    height: 38px;
    align-items: center;
}