.empty {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    margin-top: 30px;
    text-align: center; 
  }
  
  .icon-empty {
    width: 221px;
    height: 174px;
    
  }
  
  .emty-text {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
  }
  