.tasks-statisticts {
    position: fixed;
    top: 15px;
    left: 15px;
    background-color: var(--background-color); 
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #6C63FF;
    width: 300px;
    transform: translateX(-100%);
    animation: tasks-statisticts-slide-in 0.5s ease-in-out forwards;
}

@keyframes tasks-statisticts-slide-in {
    from {
        transform: translateX(-100%); 
    }
    to {
        transform: translateX(0);
    }
}

.tasks-statisticts-span {
    background-color: var(--background-color);
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    display: block;
    margin: 7px;
}

.tasks-statisticts-purple-line {
    margin-top: 10px;
    border-bottom: 1px solid #6C63FF;
    width: 270px;
    margin-left: auto;
    margin-right: auto; 
}