.item {
    margin: 30px auto; 
    max-width: 525px;
    width: 100%; 
    height: 60px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    box-sizing: border-box; 
}
.line {
    margin-top: 17px;
    border-bottom: 1px solid #6C63FF;
    width: 100%; 
}

.note {
    width: 100%; 
    height: 26px;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-top: 17px;
    margin-bottom: 17px;
    box-sizing: border-box; 
    overflow-wrap: break-word; 
}

.done {
    text-decoration: line-through;
    color: #a0a0a0;
    width: 420px;
}

.nodone{
    width: 420px;
}

.checker {
    position: relative; 
    width: 26px;
    height: 26px;
    appearance: none;
    border: 1px solid #6C63FF;
    border-radius: 2px;
    background-color: white;
    cursor: pointer;
    margin-right: 20px;
}

.checker:checked {
    background-color: #6C63FF;
    border: 1px solid #6C63FF;
}

.checker:checked::after {
    content: '';
    position: absolute;
    top: 40%; 
    left: 50%; 
    width: 6px; 
    height: 13.65px; 
    border: solid white; 
    border-width: 0 2px 2px 0; 
    transform: rotate(45deg); 
    transform-origin: center; 
    margin-top: -8px; 
    margin-left: -4px; 
}

.small-icon {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    margin-left: 10px;
    margin-top: 4px;
    cursor: pointer;

}

.small-icon:hover {
    filter: hue-rotate(0deg) brightness(0) saturate(100%) invert(44%) sepia(67%) saturate(5816%) hue-rotate(340deg) brightness(96%) contrast(99%);
}

.small-icon-pencil{
    width: 18px;
    height: 18px;
    margin-left: 8px;
    margin-top: 4px;
    cursor: pointer;
    fill: currentColor;
    transition: fill 0.3s ease;
}

.small-icon-pencil:hover {
  filter: brightness(0) saturate(100%) invert(43%) sepia(73%) saturate(5218%) hue-rotate(231deg) brightness(109%) contrast(103%);
}

.icon-container{
    display: flex;
    flex-direction: row;
    width: 62px;
    height: 18px;
    align-items: center;
    opacity: 0;
}

.item:hover .icon-container{
    opacity: 1;
}

.edit-container {
    display: flex;
    align-items: center;
  }
  
  .edit-input {
    font-size: 20px;
    line-height: 26px;
    padding: 0 10px;
    margin-right: 10px;
    border: 1px solid #6C63FF;
    border-radius: 4px;
  }
  
  .save-button, .cancel-button {
    margin-left: 5px;
    cursor: pointer;
    color: #6C63FF;
  }
  
  .save-button {
    border: 1px solid  green;
    border-radius: 50%;
    padding: 5px;
    background-color: green;
  }
  
  .cancel-button {
    border: 1px solid  red;
    border-radius: 50%;
    padding: 5px;
    background-color: red;
  }
