.task-item {
    margin: 30px auto; 
    max-width: 525px;
    width: 100%; 
    height: 60px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    box-sizing: border-box; 
}

.task-item-line {
    margin-top: 17px;
    border-bottom: 1px solid #6C63FF;
    width: 100%; 
}

.task-item-note {
    width: 100%; 
    height: 26px;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-top: 17px;
    margin-bottom: 17px;
    box-sizing: border-box; 
    overflow-wrap: break-word; 
}

.done {
    text-decoration: line-through;
    color: #a0a0a0;
    width: 420px;
}

.nodone{
    width: 420px;
}

.task-item-checkbox-completed {
    position: relative; 
    width: 26px;
    height: 26px;
    appearance: none;
    border: 1px solid #6C63FF;
    border-radius: 2px;
    background-color: var(--background-color);
    cursor: pointer;
    margin-right: 20px;

    &:checked {
        background-color: #6C63FF;
        border: 1px solid #6C63FF;

        &::after {
            content: '';
            position: absolute;
            top: 40%; 
            left: 50%; 
            width: 6px; 
            height: 13.65px; 
            border: solid #fff; 
            border-width: 0 2px 2px 0; 
            transform: rotate(45deg); 
            transform-origin: center; 
            margin-top: -8px; 
            margin-left: -4px; 
        }
    }
}

.task-item-delete-icon {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    margin-left: 10px;
    margin-top: 4px;
    cursor: pointer;
}

.task-item-delete-icon:hover {
    filter: var(--red-svg-color);
}

.task-item-edit-icon{
    width: 18px;
    height: 18px;
    margin-left: 8px;
    margin-top: 4px;
    cursor: pointer;
    fill: currentColor;
    transition: fill 0.3s ease;
}

.task-item-edit-icon:hover {
  filter: brightness(0) saturate(100%) invert(43%) sepia(73%) saturate(5218%) hue-rotate(231deg) brightness(109%) contrast(103%);
}

.task-item-icon-container{
    display: flex;
    flex-direction: row;
    width: 62px;
    height: 18px;
    align-items: center;
    opacity: 0;
}

.task-item:hover .task-item-icon-container{
    opacity: 1;
}

.task-item-edit-container {
    display: flex;
    align-items: center;
}
  
.task-item-edit-input {
    font-size: 14px;
    line-height: 26px;
    padding: 0 10px;
    width: 270px;
    margin-right: 10px;
    border: 1px solid #6C63FF;
    background-color: var(--background-color);
    color: var(--color);
    border-radius: 4px;
}
  
.task-item-save-button {
    cursor: pointer;
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #6C63FF;
    color: #fff;
    justify-content: flex-end;
}
  
.task-item-cancel-button {
    cursor: pointer;
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: var(--background-color);
    border: 1px solid #6C63FF;
    color: #6C63FF;
}