.container {
  display: flex;
  justify-content: center; /* Центрирует внутренние элементы по горизонтали */
  width: 100%;
}

.storage {
  width: 200px; /* Ширина фиксированная для элемента .storage */
}

.content {
  flex-grow: 1; /* Заставляет этот элемент занимать оставшееся пространство */
  display: flex;
  justify-content: center; /* Центрирует внутренние элементы по горизонтали */
}

