.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.storage {
  width: 200px; 
  display: flex;
  flex-direction: row;
}

.content {
  flex-grow: 1; 
  display: flex;
  justify-content: center; 
}


